/* You can add global styles to this file, and also import other style files */

:root {
  --back-color: #242424;
  --tufin-color: #DE5F0A;
  --text-color: #FFFFFF;
  --border-color: #67696C;
  --content-border-radius: 8px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--back-color);
}
