:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;

  .chat-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    flex-direction: column;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
  }

  .chat-messages {
    overflow-y: auto;
    border-bottom: 1px solid gray;
    height: 100%;
    padding-inline-start: 40px;
  }

  .taf-text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
